.home {
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }

  .sidebar {
    display: none;
  }
}